{% extends "incio.html" %}

{% block contenido_que_cambia %}

<h2>Formulario</h2>
<form action="" method="post">
    <table>
        {{ form }}
        {% csrf_token %}
    </table>

    <table>
        <input type="submit" value="Agregar"/>
    </table>
</form>
<table>
    {% if diseños %}
    <tr>
        <th>titulo</th>
        <th>diseño</th>
        <th>descripcion</th>
        <th>fechaPost</th>
        <th>emailUsuario</th>
    </tr>
</table>


<table>
    {% for diseño in diseños %}
    <tr>
        <td>
            {{diseño.titulo}}
        </td>
        <td>
            {{diseño.diseño}}
        </td>
        <td>
            {{diseño.descripcion}}
        </td>
        <td>
            {{diseño.fechaPost}}
        </td>
        <td>
            {{diseño.emailUsuario}}
        </td>
    </tr>
    {% endfor %}
    
    {% else %}

    <td>No se encontro ningun archivo</td>

    {% endif %}
</table>

{% endblock %}